USE [master]
GO
/****** Object:  Database [DBQuanLyBenhVien]    Script Date: 1/23/2022 5:17:05 PM ******/
CREATE DATABASE [DBQuanLyBenhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQuanLyBenhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBQuanLyBenhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBQuanLyBenhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBQuanLyBenhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQuanLyBenhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQuanLyBenhVien]
GO
/****** Object:  Table [dbo].[BenhNhan$]    Script Date: 1/23/2022 5:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan$](
	[MaBenhNhan] [float] NOT NULL,
	[TenBenhNhan] [nvarchar](255) NULL,
	[SoDienThoai] [float] NULL,
	[QueQuan] [nvarchar](255) NULL,
	[TheBHYT] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[NgaySinh] [datetime] NULL,
	[NgheNghiep] [nvarchar](255) NULL,
	[MaBenh] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa$]    Script Date: 1/23/2022 5:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa$](
	[MaKhoa] [float] NOT NULL,
	[TenKhoa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien$]    Script Date: 1/23/2022 5:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien$](
	[MaNhanVien] [float] NOT NULL,
	[TenNhanVien] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[SDT] [float] NULL,
	[CMND] [float] NULL,
	[NgaySinh] [datetime] NULL,
	[MaKhoa] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKhamBenh$]    Script Date: 1/23/2022 5:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKhamBenh$](
	[MaPKB] [float] NOT NULL,
	[STT] [float] NULL,
	[NgayKham] [datetime] NULL,
	[NgayxuatVien] [datetime] NULL,
	[HuongDieuTri] [nvarchar](255) NULL,
	[MaThuoc] [float] NULL,
	[MaBenh] [float] NULL,
	[MaBenhNhan] [float] NULL,
	[MaNhanVien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan$]    Script Date: 1/23/2022 5:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan$](
	[TaiKhoan] [nchar](10) NOT NULL,
	[MatKhau] [nchar](10) NULL,
	[Quyen] [nchar](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenBenh$]    Script Date: 1/23/2022 5:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenBenh$](
	[MaBenh] [float] NOT NULL,
	[TenBenh] [nvarchar](255) NULL,
	[TrieuChung] [nvarchar](max) NULL,
	[Makhoa] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc$]    Script Date: 1/23/2022 5:17:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc$](
	[MaThuoc] [float] NOT NULL,
	[TenThuoc] [nvarchar](255) NULL,
	[XuatXu] [nvarchar](255) NULL,
	[GiaTien] [float] NULL,
	[MaBenh] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BenhNhan$]  WITH CHECK ADD  CONSTRAINT [FK_BenhNhan$_TenBenh$] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[TenBenh$] ([MaBenh])
GO
ALTER TABLE [dbo].[BenhNhan$] CHECK CONSTRAINT [FK_BenhNhan$_TenBenh$]
GO
ALTER TABLE [dbo].[NhanVien$]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien$_Khoa$] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa$] ([MaKhoa])
GO
ALTER TABLE [dbo].[NhanVien$] CHECK CONSTRAINT [FK_NhanVien$_Khoa$]
GO
ALTER TABLE [dbo].[PhieuKhamBenh$]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh$_BenhNhan$] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhan$] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[PhieuKhamBenh$] CHECK CONSTRAINT [FK_PhieuKhamBenh$_BenhNhan$]
GO
ALTER TABLE [dbo].[PhieuKhamBenh$]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh$_NhanVien$] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien$] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuKhamBenh$] CHECK CONSTRAINT [FK_PhieuKhamBenh$_NhanVien$]
GO
ALTER TABLE [dbo].[PhieuKhamBenh$]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh$_TenBenh$] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[TenBenh$] ([MaBenh])
GO
ALTER TABLE [dbo].[PhieuKhamBenh$] CHECK CONSTRAINT [FK_PhieuKhamBenh$_TenBenh$]
GO
ALTER TABLE [dbo].[PhieuKhamBenh$]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh$_Thuoc$] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc$] ([MaThuoc])
GO
ALTER TABLE [dbo].[PhieuKhamBenh$] CHECK CONSTRAINT [FK_PhieuKhamBenh$_Thuoc$]
GO
ALTER TABLE [dbo].[TenBenh$]  WITH CHECK ADD  CONSTRAINT [FK_TenBenh$_Khoa$] FOREIGN KEY([Makhoa])
REFERENCES [dbo].[Khoa$] ([MaKhoa])
GO
ALTER TABLE [dbo].[TenBenh$] CHECK CONSTRAINT [FK_TenBenh$_Khoa$]
GO
ALTER TABLE [dbo].[Thuoc$]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc$_TenBenh$] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[TenBenh$] ([MaBenh])
GO
ALTER TABLE [dbo].[Thuoc$] CHECK CONSTRAINT [FK_Thuoc$_TenBenh$]
GO
USE [master]
GO
